body {
    background-color: #69d7ce !important;

}

.container {
    background-color: #69d7ce !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer {
    padding-top: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.24);
    display: flex;
    justify-content: space-between;
}

.quiz-card {
    width: 30rem;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(4, 159, 243, 0.05);
}

.bg-success, .bg-danger{
    color: white;
}